/*
Colors:
- Blue: #4c74b0, #486fab
- Gray: #f7f7f7, #eee
- Yellow: #ebdb00
*/


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #555;
}

a {
    color: #4c74b0;
}

a:active {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    color: #333;
}

header .navbar {
    padding: 0.5em 0 3em;
    margin: 0;
    background: #fff;
    border: none;
}

header .navbar-header button {
    height: auto;
    margin-right: 0;
}

header .navbar-brand {
    height: auto;
    padding: 0;
}

header .navbar-collapse {
    margin-top: 25px;
}

header .navbar-collapse .navbar-nav .active > a,
header .navbar-collapse .navbar-nav .active > a:hover,
header .navbar-collapse .navbar-nav .active > a:focus
{
    color: #4c74b0;
    background: transparent;
    font-weight: bold;
}

header .navbar-collapse .navbar-nav > li > a:hover,
header .navbar-collapse .navbar-nav > li > a:focus
{
    color: #4c74b0;
}

header .navbar-collapse .navbar-nav > li.dropdown > a.dropdown-toggle:hover,
header .navbar-collapse .navbar-nav > li.dropdown.open > a.dropdown-toggle,
header .navbar-collapse .navbar-nav > li.dropdown.open > a.dropdown-toggle:hover {
    color: #4c74b0;
    background: #eee;
}

header .navbar-collapse .navbar-nav > li.dropdown > ul.dropdown-menu > li > a:hover {
    color: #4c74b0;
}

footer {
    padding: 0;
    margin: 0;
    color: #ddd;
    border: none;
    text-align: center;
}

footer a,
footer a:hover,
footer a:focus {
    color: #fff;
}

footer #subfooter {
    background: #f7f7f7;
}

footer #subfooter .row {
    padding: 1em 0;
}
footer #subfooter .row:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

footer #subfooter .row a {
    display: inline-block;
    padding: 0 1em 0.5em;
}

footer #subfooter .row h4 {
    margin: 1em 0;
}

footer #subfooter #springer_links a,
footer #subfooter #springer_links a:hover {
    padding-bottom: 0;
    color: #555;
    font-weight: bold;
}

footer #footer_links {
    padding: 1.5em 0;
    background: #4c74b0;
}

footer #footer_links ul > li:first-child > a {
    font-weight: bold;
}
footer #footer_links ul > li:not(:first-child) {
    padding: 0;
}

footer #footer_links .nav-footer ul {
    margin-bottom: 0;
}
footer #footer_links .nav-footer ul:first-child {
    margin-left: 0;
}

footer #main_footer {
    padding: 3em 0 1.5em;
    background: #486fab;
    line-height: 1em;
}


#title_wrapper {
    padding: 1.5em 0;
    margin-bottom: 3em;
    background: #ebdb00;
    text-align: center;
}

#title_wrapper h3 {
    margin: 0;
}

#main_content {
    margin-bottom: 3em;
}

#right_content {
    margin: 3em 0;
    border-top: 1px solid #ccc;
}

#right_content .widget {
    margin: 0;
}

#right_content .widget h4 {
    margin: 1.5em 0;
    text-align: center;
}

#search_form {
    margin: 1.5em 0;
}

#search_form form {
    padding: 0;
    margin: 0;
    text-align: center;
}

#search_form form .form-control {
    width: 70%;
    display: inline-block;
}

#search_form form input:focus {
    border-color: #ccc;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #aaa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #aaa;
}


/* Overriding Bootstrap styles */


/* Overriding Mezzanine styles */


.nav-footer > ul {
    display: block;
    width: auto;
    margin: 0;
}

.form-group > div > input[type="text"],
.form-group > div > input[type="password"],
.form-group > div > input[type="datetime"],
.form-group > div > input[type="datetime-local"],
.form-group > div > input[type="date"],
.form-group > div > input[type="month"],
.form-group > div > input[type="time"],
.form-group > div > input[type="week"],
.form-group > div > input[type="number"],
.form-group > div > input[type="email"],
.form-group > div > input[type="url"],
.form-group > div > input[type="search"],
.form-group > div > input[type="tel"],
.form-group > div > input[type="color"],
.form-group > div > select,
.form-group > div > textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group > div > input[type="text"]:focus,
.form-group > div > input[type="password"]:focus,
.form-group > div > input[type="datetime"]:focus,
.form-group > div > input[type="datetime-local"]:focus,
.form-group > div > input[type="date"]:focus,
.form-group > div > input[type="month"]:focus,
.form-group > div > input[type="time"]:focus,
.form-group > div > input[type="week"]:focus,
.form-group > div > input[type="number"]:focus,
.form-group > div > input[type="email"]:focus,
.form-group > div > input[type="url"]:focus,
.form-group > div > input[type="search"]:focus,
.form-group > div > input[type="tel"]:focus,
.form-group > div > input[type="color"]:focus,
.form-group > div > select:focus,
.form-group > div > textarea:focus {
    border-color: #4c74b0;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #486fab;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #486fab;
}

.form-group > div > textarea {
    height: auto;
    max-width: 400px;
}

.form-actions {
    padding: 0;
    margin-top: 3em;
    background: #fff;
    border: none;
}

.form-actions > div {
    padding: 0;
}

.editable-form {
    top: 50px;
    left: 50px;
}

.blog_post_content {
    margin: 3em 0;
}


#blog_list_wrapper .blog-list-detail {
    border: none;
}
#blog_list_wrapper .blog-list-detail:not(:last-child) {
    padding-bottom: 3em;
    margin-bottom: 3em;
}

#comments {
    padding-top: 3em;
    margin-top: 3em;
    border-top: 1px solid #eee;
}


/* Media queries */


@media (min-width: 768px) {

    header .navbar {
        padding: 1.5em 0;
    }

    header .navbar .container {
        padding: 0;
    }

    header .navbar .container .navbar-brand {
        padding: 0;
        margin: 0;
    }

    header .navbar-collapse {
        margin-top: 0;
    }

    header .navbar-collapse .navbar-nav {
        margin-top: 1em;
    }

    header .navbar-collapse .navbar-nav > li:first-child > a {
        padding-left: 0;
    }

    header .navbar-collapse .navbar-nav > li.dropdown > ul.dropdown-menu.dropdown-menu-right {
        left: 0;
        right: auto;
    }

    footer #subfooter .row:not(:last-child) {
        border-bottom: none;
    }

    footer #subfooter .row h4 {
        text-align: left;
    }

    footer #footer_links .nav-footer > ul {
        display: inline-block;
        width: auto;
        margin: 0 3em 1em;
    }
    footer #footer_links .nav-footer > ul:first-child {
        margin-left: 3em;
    }

    #title_wrapper {
        text-align: left;
    }

    #main_content {
        margin: 0 0 1.5em;
        padding: 0 2em 0 1em;
    }

    #right_content {
        margin: 0 0 1.5em;
        border: none;
    }

    #right_content .widget {
        padding: 0 1em 0 2em;
        margin: 0 0 2em;
        border-left: 1px solid #eee;
        border-bottom: none;
    }
    #right_content .widget:not(:last-child) {
        border-bottom: none;
    }

    #right_content .widget h4 {
        margin: 0 0 2em;
        text-align: left;
    }

    #search_form {
        padding: 0;
        text-align: left;
    }

}


@media (min-width: 992px) {

    header .navbar {
        padding: 1em 0 3em;
    }

    header .navbar-collapse {
        float: right !important;
        padding-top: 20px;
    }

    header .navbar-collapse .navbar-nav > li.dropdown > ul.dropdown-menu.dropdown-menu-right {
        left: auto;
        right: 0;
    }

    #title_wrapper {
        text-align: left;
    }

    #right_content .widget {
        padding-left: 3em;
    }

}
