{% extends "base.html" %}

{% load i18n future mezzanine_tags %}


{% block meta_title %}{% trans "Page not found" %}{% endblock %}


{% block title %}{% trans "Page not found" %}{% endblock %}


{% block extra_head %}
    <meta name="robots" content="noindex">
{% endblock %}


{% block main %}
    <h4>{% blocktrans %}Please check the URL and try again.{% endblocktrans %}</h4>
    <p>{% blocktrans %}Get in touch with the Organizing Committee if case you need help.{% endblocktrans %}</p>
{% endblock %}
