{% extends "base.html" %}

{% load i18n future mezzanine_tags %}


{% block meta_title %}{% trans "There's something wrong" %}{% endblock %}


{% block title %}{% trans "There's something wrong" %}{% endblock %}


{% block extra_head %}
    <meta name="robots" content="noindex">
{% endblock %}


{% block main %}
    <h4>{% blocktrans %}Please be patient, we are working on fixing it quickly.{% endblocktrans %}</h4>
    <p>{% blocktrans %}Get in touch with the Organizing Committee if case you need help.{% endblocktrans %}</p>
{% endblock %}
