{% load i18n mezzanine_tags comment_tags %}


<div id="comments">
    <h4>{% trans "Comments" %}</h4>
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_comments.html" %}
    {% else %}
        <script>
            $(function() {
                $('.reply').click(function() {
                    $('.comment-reply-form').hide();
                    $(this).siblings('.comment-reply-form').toggle();
                });
            });
        </script>
        <style>.input_id_honeypot {display:none !important;}</style>
        {% comment_thread object_for_comments %}
        <br>
        <h4>{% trans "New comment" %}</h4>
        <form id="comment" class="form-horizontal" method="post" action="{{ comment_url }}#comment">
            {% if not request.POST.replied_to %}
                {% fields_for posted_comment_form %}
            {% else %}
                {% fields_for unposted_comment_form %}
            {% endif %}
            <div class="form-actions">
                <div class="col-sm-10 col-sm-offset-2">
                    <input class="btn btn-primary" type="submit" value="{% trans "Comment" %}">
                </div>
            </div>
        </form>
    {% endif %}
</div>
