<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
        {% comment %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "skins/default.css" %}">
        {% endcomment %}
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% comment %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% endcomment %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% include "includes/header_scripts.html" %}
    {% endcompress %}
    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}">
    <header>
        <div class="container">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="clearfix">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" title="Go to the homepage">
                            <img class="img-responsive" src="{% static 'img/ICTAC2015_Logo.png' %}" width="320" height="110" title="ICTAC 2015" alt="ICTAC 2015 logo">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% page_menu "pages/menus/dropdown.html" %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block all_content %}
        {% nevercache %}
            {% if messages %}
                <div class="container">
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endnevercache %}
        {% comment %}
        {% block breadcrumb_wrapper %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            {% spaceless %}
                                {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                            {% endspaceless %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% endcomment %}
        {% block title_wrapper %}
            <div id="title_wrapper">
                <div class="container">
                    <h3>{% block title %}{% endblock %}</h3>
                </div>
            </div>
        {% endblock %}
        <section id="{% block section_id %}content{% endblock %}">
            <div class="container">
                <div class="row">
                    {% comment %}
                    {% block left_wrapper %}
                        <div class="col-md-{% block left_col_size %}2{% endblock %} {% block left_class %}left{% endblock %}">
                            {% block left_panel %}
                                <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% endcomment %}
                    {% block main_wrapper %}
                        <div id="main_content" class="col-sm-8 col-md-9">
                            {% block main %}{% endblock %}
                        </div>
                    {% endblock %}
                    {% block right_wrapper %}
                        <div id="right_content" class="col-sm-4 col-md-3">
                            {% comment %}
                            {% nevercache %}
                                {% include "includes/user_panel.html" %}
                            {% endnevercache %}
                            {% endcomment %}
                            {% block right_panel %}
                                {% include "utils/right_panel_sections.html" %}
                                <div class="widget">
                                    {% blog_recent_posts 5 as recent_posts %}
                                    {% if recent_posts %}
                                        <h4>{% trans "Latest news" %}</h4>
                                        <ul>
                                            {% for recent_post in recent_posts %}
                                                <li>
                                                    {% spaceless %}
                                                        <a href="{{ recent_post.get_absolute_url }}">
                                                            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                                                                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
                                                            {% endif %}
                                                            {{ recent_post.title }}
                                                        </a>
                                                        <p>{% blocktrans with sometime=recent_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</p>
                                                    {% endspaceless %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <p>
                                            <strong>{% trans "Feeds" %}</strong>:
                                            {% if tag %}
                                                <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
                                                <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
                                            {% endif %}
                                            {% if category %}
                                                <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
                                                <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
                                            {% endif %}
                                            {% if author %}
                                                <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
                                                <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
                                            {% endif %}
                                            {% if not tag and not category and not author %}
                                                <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
                                                <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                </div>
                                {% comment %}
                                {% ifinstalled mezzanine.twitter %}
                                    {% include "twitter/tweets.html" %}
                                {% endifinstalled %}
                                {% endcomment %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </section>
    {% endblock %}
    <footer>
        <div id="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4>Organized by</h4>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://www.javerianacali.edu.co" target="_blank" title="Go to Universidad Javeriana Cali website">
                                    <img class="img-responsive" src="{% static 'img/UniversidadJaveriana_Logo.png' %}" width="300" height="150" alt="Universidad Javeriana logo">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://www.univalle.edu.co/english/index.html" target="_blank" title="Go to Universidad del Valle website">
                                    <img class="img-responsive" src="{% static 'img/UniversidadDelValle_Logo.png' %}" width="300" height="150" alt="Universidad del Valle logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.cnrs.fr/index.php" target="_blank" title="Go to CNRS website">
                                    <img class="img-responsive" src="{% static 'img/CNRS_Logo.png' %}" width="300" height="100" alt="CNRS logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.inria.fr/en/" target="_blank" title="Go to INRIA website">
                                    <img class="img-responsive" src="{% static 'img/INRIA_Logo.png' %}" width="300" height="100" alt="INRIA logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.polytechnique.edu/en" target="_blank" title="Go to École Polytechnique website">
                                    <img class="img-responsive" src="{% static 'img/EcolePolytechnique_Logo.png' %}" width="300" height="100" alt="École Polytechnique logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.rug.nl/?lang=en" target="_blank" title="Go to University of Groningen website">
                                    <img class="img-responsive" src="{% static 'img/UniversityOfGroningen_Logo.png' %}" width="300" height="100" alt="University of Groningen logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.cs.ox.ac.uk" target="_blank" title="Go to University of Oxford - Department of Computer Science website">
                                    <img class="img-responsive" src="{% static 'img/UniversityOfOxford_CS_Logo.png' %}" width="300" height="100" alt="University of Oxford - Department of Computer Science logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://cic.javerianacali.edu.co/wiki/doku.php?id=grupos:avispa:avispa" target="_blank" title="Go to AVISPA website">
                                    <img class="img-responsive" src="{% static 'img/AVISPA_Logo.png' %}" width="300" height="100" alt="AVISPA logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                                <a href="http://www.lix.polytechnique.fr/comete/index.php" target="_blank" title="Go to Comète website">
                                    <img class="img-responsive" src="{% static 'img/Comete_Logo.png' %}" width="300" height="100" alt="Comète logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4>Sponsors</h4>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.clei.org" target="_blank" title="Go to CLEI website">
                                    <img class="img-responsive" src="{% static 'img/CLEI_Logo.png' %}" width="300" height="100" alt="CLEI logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://research.microsoft.com/en-us/" target="_blank" title="Go to Microsoft Research website">
                                    <img class="img-responsive" src="{% static 'img/MicrosoftResearch_Logo.png' %}" width="300" height="100" alt="Microsoft Research logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.sco2.org" target="_blank" title="Go to Sociedad Colombiana de Computación website (in Spanish)">
                                    <img class="img-responsive" src="{% static 'img/SCO2_Logo.png' %}" width="300" height="100" alt="Sociedad Colombiana de Computación logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                                <a href="http://www.nh-hotels.com" target="_blank" title="Go to NH Hotels website">
                                    <img class="img-responsive" src="{% static 'img/NH_Logo.png' %}" width="300" height="100" alt="NH Hotels logo">
                                </a>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                                <a href="http://www.banrepcultural.org/fpit/inicio" target="_blank" title="Go to FPIT website">
                                    <img class="img-responsive" src="{% static 'img/FPIT_Logo.png' %}" width="300" height="100" alt="FPIT logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4>Publisher</h4>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div id="springer_links" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                                <a href="http://www.springer.com/computer/lncs?SGWID=0-164-0-0-0" target="_blank" title="Go to Springer LNCS website">
                                    <img class="img-responsive" src="{% static 'img/SpringerLNCS_Logo.png' %}" width="300" height="100" alt="Springer LNCS logo">
                                </a>
                                <a href="http://link.springer.com/book/10.1007%2F978-3-319-25150-9" target="_blank" title="Go to Springer">
                                    Download the Conference Proceedings
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% page_menu "pages/menus/footer.html" %}
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div id="search_form" class="clearfix">
                            {% search_form "all" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main_footer">
            <div class="container">
                <p><strong><a href="http://www.ictac2015.co" target="_blank" title="Go to ICTAC website">www.ictac2015.co</a></strong></p>
                <p><strong><a href="/manage" title="Admin access">Admin access</a></strong></p>
                <br>
                <p>
                    Web site design and development by <a href="http://julianperez.me" target="_blank" title="Check Julián's home page">Julián Pérez</a>
                    &nbsp;&middot;&nbsp;
                    Logo design by Carlos F. Osorio
                </p>
                <p>Do you need a page like this for your conference? <a href="http://julianperez.me" target="_blank" title="Check Julián's home page and get in touch">Get in touch</a>.</p>
            </div>
        </div>
    </footer>
    {% compress js %}
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}
</body>
</html>
